/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.cz-stars span:after,
.cz-noticeboard .cz-textbox span:first-child,
.cz-navigation ul li:hover a[data-new]:after,
.cz-navigation ul li a:hover[data-new]:after,
.cz-themeposttags li a:hover,
.cz-navigation .cz-featuredimg a:hover,
.cz-navigation .cz-themeposttags li a:hover,
.cz-navigation .cz-themeposttitle h3 a:hover,
.cz-navigation .cz-matadata li a:hover,
.cz-navigation .cz-pricebox a:hover,
.cz-pricebox a:hover,
.cz-widgetcontent ul li a:hover,
.cz-btnsimpleprev:hover,
.cz-btnsimplenext:hover,
.cz-widgetdownload .cz-widgetcontent ul li a:hover i,
.cz-widgetdownload .cz-widgetcontent ul li a:hover span,
.cz-widgetdownload .cz-widgetcontent ul li:hover a i,
.cz-widgetdownload .cz-widgetcontent ul li:hover a span,
.cz-campuses ul li a i,
.cz-campuses ul li a span,
.cz-infolist li a,
.cz-infolist li a i,
.cz-infolist li a span,
.cz-widgetcoursecategories .cz-widgetcontent ul li:hover:before,
.cz-breadcrumb li a,
.cz-pricebox a:hover,
.cz-infodata strong a:hover,
.cz-coursestabs .cz-themetabnav li:hover a,
.cz-coursestabs .cz-themetabnav li.active a,
.cz-coursecompunent li span i:first-child,
.cz-courseoutline li span i:first-child,
.cz-scheduleicon,
.cz-result:hover .cz-btndownloadresult,
.cz-result:hover .cz-btndownloadresult em,
.cz-result:hover .cz-btndownloadresult i,
.cz-result:hover .cz-description p,
.cz-btndownloadresult:hover,
.cz-btndownloadresult:hover em,
.cz-btndownloadresult:hover i,
.cz-departmentscollapse .cz-themecollapsecontent ul li:hover .cz-description p,
.cz-departmentscollapse .cz-themecollapsecontent ul li:hover a,
.cz-widgetcontent ul li.cz-active a,
.cz-facultiescollapse > h3:hover > a,
.cz-facultiescollapse > h3.open > a,
.cz-faculty:hover h3 a,
.cz-departmentname h2,
.cz-jobs .cz-themecollapsecontent ul li:hover a,
.cz-jobs .cz-themecollapsecontent ul li:hover p,
.cz-btncommentreply:hover,
.cz-btncommentreply:hover i,
.cz-btncommentreply:hover em,
.cz-comingcountdown .cz-counterbox span:first-child,
.cz-navigation > ul > li.current-menu-item a[data-new]:after{color: #3575d3;}
/*=============================================
			Theme Background Color
=============================================*/
.cz-btn,
.cz-theme-tag,
a[data-new]:after,
.cz-btnsearch,
#cz-magicbox,
.sub-menu li a:before,
.mega-menu-row + .mega-menu-row,
.cz-navigation > ul > li.current-menu-item > a,
.cz-navigation > ul > li:hover > a,
.cz-navigation > ul > li > a:hover,
.mega-menu-col ul li a:before,
.cz-btnsbox .cz-btn:hover,
.cz-widgetadmissionform .cz-widgetcontent,
.cz-signupbox,
.cz-header_two .cz-topbar,
.cz-header_two .cz-navigation ul li:hover a[data-new]:after,
.cz-header_two .cz-navigation ul li a:hover[data-new]:after,
.cz-widgetcontent ul li:hover:before,
.cz-poststyleswitcher li a:hover,
.cz-poststyleswitcher li.cz-active a,
.cz-coursestabs .cz-themetabnav li:before,
.cz-schedule,
.cz-courseinfo .cz-btnsbox .cz-btn,
.cz-relateddocuments li:hover,
.cz-eventcounter,
.cz-widgetcontent ul li:hover:before,
.cz-widgetcontent ul li.cz-active:before,
.cz-optionset li a:before,
.cz-detailpage blockquote:before,
.cz-tag:hover,
.cz-newsandarticle .cz-newspost .cz-btn:hover,
.cz-nav .navbar-toggle{background:#3575d3;}
/*=============================================
			Theme Border Color
=============================================*/
.cz-theme-tag:after,
.cz-theme-tag:before,
input:focus,
.select select:focus,
.form-control:focus,
a[data-new]:before,
.cz-header_two .cz-navigation ul li:hover a[data-new]:before,
.cz-header_two .cz-navigation ul li a:hover[data-new]:before,
.cz-tag:hover{border-color: #3575d3;}